%meta{charset: 'utf-8'}/
%meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
%title= content_for?(:title) ? "#{yield(:title)} | My Backup Agent" : "My Backup Agent"
= csrf_meta_tags
