%section.hero.hero--home.parallax
  .container.text-center
    %h1.hero__title
      My Backup Agent is
      %span.hero__text--typed{"data-elements" => "Convenient, Modern, Multipurpose, Creative"}
    %p.hero__text
      A Fully responsive multipurpose Template based on bootstrap
    %div.hero__ctas
      %a.btn.btn-lg.hero__link.border-button--danger{:href => "#"} Purchase now
      %a.btn.btn-lg.hero__link.border-button--white{:href => "#"} Contact us

.brick--dark
  .container
    .row.row-same-height
      .col-sm-8.col-sm-height.col-middle
        %h4.brick__title
          Assan is Simply creative Template
        %p.brick__text
          Clean  powerful Easy to use multipurpose business HTML5 template.
      .col-sm-4.col-sm-height.col-middle
        %a.btn.btn-lg.border-button.border-button--white.brick__cta{:href => "#"} Purchase now
