default: &default
  akismet_key:
  cdn_media:
  mail_chimp:
  mail_chimp_list:
  mail_chimp_webhook_token:
  mandrill_un:
  mandrill_api_key:
  memcached_servers: []
  recaptcha_key:
  recaptcha_secret:
  redis_url: 
  rollbar_access_token:
  s3_access_key_id:
  s3_bucket:
  s3_secret:
test:
  <<: *default
  devise_key:
  secret_key_base:
  stripe_api_key:
  stripe_public_key:
staging:
  <<: *default
  devise_key:
  secret_key_base:
  stripe_api_key:
  stripe_public_key:
production:
  <<: *default
  devise_key:
  secret_key_base:
  stripe_api_key:
  stripe_public_key:
